{% extends 'base.html' %} {% block content %}
<h1>About the Volleyball Roster App</h1>
<hr />
<h4>Welcome to Sideout, your one-stop application to create, assign, and track your team, games played, and games won/lost.<br/>
If you have not already created an account please follow the "Sign Up" link, to get started on creating your team and player profile.
You can register for as many teams as you'd like, and if you find that you've made a mistake in your team name or any other info., you can
remedy this by using the edit or delete buttons on your team detail page.
</h4>

{% endblock %}